
body{
    background-color: bisque;
    font-family: sans-serif;
}

main{
    font-family: sans-serif;
    padding-left: 1em;
}

label.group_label{
    color: cornflowerblue;
}

input, select{
    margin-left: 1em;
    margin-top: 0.5em;
}

a{
    color: deepskyblue;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #ff9800;
}

span.output{
    font-style: italic;
    color: mediumblue;
    margin-left: 1em;
}


h1{
    color: orange;
    text-shadow: 2px 2px 5px coral;
}

h2 {
    color: lightcoral;
}

table {
    margin-left: 2em;
    margin-bottom: 2em;
    border-collapse: collapse;
    border: 1px solid blue;
    text-align: center;
    padding: .5em;
}

th {
    background-color: lightcyan;
    border: 1px solid blue;
    padding: .5em;
}

td {
    background-color: white;
    border: 1px solid blue;
    padding: .5em;
}



.message{
    font-size: larger;
    font-weight: bolder;
    color: rebeccapurple;
}
