<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Edit Record</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css"/>
  <link th:href="@{css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
  <link th:href="@{css/footer.css}" href="../static/css/footer.css" rel="stylesheet" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script th:src="@{js/footer.js}" src="../static/js/footer.js"></script>
</head>
<body>
<main>
  <h1>Edit Data</h1>
  <form method="post"
        th:action="@{update-pet}" action="PetDetails.html"
        th:object="${form}">

    <input type="hidden" th:field="*{id}">
    <h2>Pet Name</h2>
    <p>
      <label for="first" class="group_label"> Name</label><br>
      <input id="first" type="text" th:field="*{name}" value="Bart"/>

    </p>

    <h2>Pet Info:</h2>
    <p>
      <label for="prog" class="group_label">Kind</label><br>
      <select id="prog" th:field="*{petKind}">
        <option th:each="p: ${kinds}"
                th:value="${p}" th:text="${p}">Cat</option>
      </select>

    </p>
    <p>
      <label class="group_label">Sex</label><br>
      <span th:each="y: ${#numbers.sequence(0,1)}">
               <label><input type="radio" name="petSex" value="0"
                             th:field="*{petSex}" th:value="${y}"><span th:text="${y == 1}?'Male':'Female'">Female</span></label>
            </span>
      <!--/*-->
      <label><input type="radio" name="programYear" value="0">Female</label>
      <label><input type="radio" name="programYear" value="1">Male</label>
      <!--*/-->

    </p>
    <p>
      <label class="group_label">Options</label><br>
      <label><input type="checkbox" th:field="*{vaccinated}" th:value="yes"/>Vaccinated</label>
    </p>
    <p>
      <input type="reset" value="Clear"/>
      <input type="submit" value="Send"/>
    </p>
  </form>
  <p><a href="Index.html" th:href="@{index}">Index</a></p>
  <p><a href="ListPets.html" th:href="@{list-pets}">List Pets</a></p>
</main>
<footer>
  Klajdi Hoxhalli
</footer>
</body>
</html>
